body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  /* background: #f8fbfa; */
  background: linear-gradient(180deg, rgb(168, 233, 219), rgb(121, 230, 148));
  background-repeat: no-repeat;
  background-position: fixed;
  background-size:cover;
  height: 100vh;
}

/* Header */
/* header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background: #fff;
}

.menu-button{
    border-radius: 100%;
    border: 1px solid black;
}

.menu, .profile {
  font-size: 1.2em;
}

.search-bar {
  flex: 1;
  margin: 0 12px;
  padding: 10px 12px;
  border-radius: 25px;
  border: none;
  background: #eef1f0;
  font-size: 1em;
} */

.top-bar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  /* background: #fff; */
  gap: 10px;
}

.top-bar .right-btn-grp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.top-bar .round-btn {
  width: 38px;
  height: 38px;
  aspect-ratio: 1 / 1;
  border: 1px solid #aaa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
}

.top-bar input {
  height: 38px;
  flex: 1;
  margin: 0 10px;
  padding: 0px 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 20px;
}

/* Emergency */
.emergency {
  margin: 16px 16px 0 16px;
}

.emergency-label {
  background: rgb(255, 44, 44);
  color: #ffc6c4;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ffb3b3;
  padding: 12px;
  margin-bottom: 16px;
  animation: pulse 2s infinite;
}

.emergency-actions {
  display: flex;
  gap: 20px;
}

.btn {
  flex: 1;
  border: none;
  border-radius: 15px;
  padding: 20px 0;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.ambulance {
  background: linear-gradient(120deg, #88beeb, #183c9d);
}

.doctor {
  background: linear-gradient(120deg, #cbf8d6, #189d44);
}

.icon {
  font-size: 2em;
  display: block;
  margin-bottom: 8px;
}

/* Info Section */
.latest-info {
  margin: 22px 16px 0 16px;
  background: #fff;
  border-radius: 10px;
  padding: 18px 0 6px 0;
  border: 1px solid #dde5e2;
}

.info-heading {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 12px;
}

.info-actions {
  display: flex;
  justify-content: space-around;
}

.info-btn {
  width: 90px;
  height: 70px;
  background: #f8fbfa;
  border-radius: 12px;
  text-align: center;
  font-size: 1em;
  color: #244b38;
  border: 1px solid #dde5e2;
  cursor: pointer;
  padding-top: 10px;
  margin-bottom: 10px;
}

/* Slideshow */
.slideshow {
  margin: 22px 16px 0 16px;
  background: #fff;
  border: 1px solid #dde5e2;
  border-radius: 10px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-label {
  font-size: 1.2em;
  color: #4b4b4b;
}

/* Bottom Navigation */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #dde5e2;
  height: 60px;
  z-index: 100;
}

.bottom-nav div {
  flex: 1;
  text-align: center;
  color: #244b38;
  font-size: 0.95em;
  font-weight: 500;
  padding-top: 8px;
}

.nav-icon {
  font-size: 1.4em;
  display: block;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(230, 51, 51, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(241, 158, 158, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(241, 217, 217, 0);
  }
}
